attrs==21.2.0
blessings==1.7
bpython==0.21
certifi==2020.12.5
chardet==4.0.0
curtsies==0.3.5
cwcwidth==0.1.4
greenlet==1.1.0
idna==2.10
iniconfig==1.1.1
numpy==1.20.3
packaging==20.9
pluggy==0.13.1
py==1.10.0
Pygments==2.9.0
pyparsing==2.4.7
pytest==6.2.4
pyxdg==0.27
requests==2.25.1
six==1.16.0
toml==0.10.2
urllib3==1.26.5
