attrs==19.3.0
blessings==1.7
bpython==0.18
certifi==2019.9.11
chardet==3.0.4
curtsies==0.3.0
greenlet==0.4.15
idna==2.8
more-itertools==7.2.0
mypy-extensions==0.4.3
numpy==1.17.4
packaging==19.2
pluggy==0.13.0
py==1.8.0
Pygments==2.4.2
pyparsing==2.4.5
pytest==5.3.0
requests==2.22.0
six==1.13.0
typed-ast==1.4.1
typing==3.7.4.1
typing-extensions==3.7.4.1
urllib3==1.25.7
wcwidth==0.1.7
